In [1]:
import os
import sys
import jpype
import jaydebeapi as jp
import pandas.io.sql as pd_sql
import pandas as pd

In [2]:
from matplotlib import pyplot as plt
import pyodbc
import pandas as pd
import numpy as np
import json
import folium

import warnings
warnings.filterwarnings(action='ignore')

from branca.element import Template, MacroElement

In [3]:
cnxn = pyodbc.connect("DSN=DSN2; uid=DA2103; pwd=da03")

In [4]:
query="SELECT ACCOUNT_MGR, AVG(CREDIT_LIMIT) AS CREDIT_LIMIT FROM CUSTOMER C, ORDERS O WHERE C.ID = O.CUSTOMER_ID GROUP BY ACCOUNT_MGR"

In [5]:
import time
start = time.time()

df = pd.read_sql(query, cnxn)

print("time :", time.time() - start)

time : 11.984530687332153

In [6]:
df

    ACCOUNT_MGR  CREDIT_LIMIT
0        7788.0   2503.206652
1        7782.0   2499.475026
2        7876.0   2500.594621
3        7698.0   2501.436718
4        7521.0   2499.209395
5        7566.0   2503.925902
6        7902.0   2498.580307
7        7499.0   2500.208928
8        7900.0   2496.804738
9        7934.0   2499.917357
10       7369.0   2501.201638
11       7654.0   2500.374194
12       7844.0   2499.520286

In [17]:
cursor.execute('''CREATE TABLE AAA AS (SELECT * FROM EMP)''')

SystemError: <class 'pyodbc.Error'> returned a result with an error set

In [19]:
cursor =  conn.cursor()