In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
import pyspark.sql.functions as F
import pandas as pd

In [2]:
spark_config = SparkConf().setMaster("local[4]")
spark_config.set("spark.yarn.dist.jars", "C:\\Users\\HP\Desktop\ojdbc8.jar")

In [3]:
sc = SparkContext(conf=spark_config) 
sqlContext = SQLContext(sc)

In [4]:
spark = SparkSession.builder.master("local").appName("SparkOracleTest").getOrCreate()

In [5]:
spark

In [ ]:
query='''SELECT * FROM CUSTOMER C, ORDERS O WHERE C.ID = O.CUSTOMER_ID'''

In [9]:
customer = spark.read.format("jdbc").option("url", "jdbc:oracle:thin:@192.168.217.202:1521/KOPODA")\
.option("dbtable", "customer").\
option("user", "DA2103").\
option("password", "da03").\
option("numPartitions", 200).\
option("fetchsize", 100).load()

orders = spark.read.format("jdbc").option("url", "jdbc:oracle:thin:@192.168.217.202:1521/KOPODA")\
.option("dbtable", "orders").\
option("user", "DA2103").\
option("password", "da03").\
option("numPartitions", 200).\
option("fetchsize", 100).load()

In [10]:
ta = customer.alias('ta')
tb = orders.alias('tb')

In [11]:
inner_join = ta.join(tb, ta.ID == tb.CUSTOMER_ID, "inner")

In [12]:
result = inner_join.groupBy('ACCOUNT_MGR').agg(F.avg('CREDIT_LIMIT')).orderBy('ACCOUNT_MGR')

In [ ]:
import time
start = time.time()
result.show()
print("time :", time.time() - start)

In [21]:
result

DataFrame[ID: string, NAME: string, ZIPCODE: string, ADDRESS1: string, ADDRESS2: string]

In [23]:
result.length("ID")

AttributeError: 'DataFrame' object has no attribute 'length'

In [17]:
import time
start = time.time()

result.write \
    .format("jdbc") \
    .option("url", "jdbc:oracle:thin:@192.168.217.202:1521/KOPODA")\
    .option("dbtable", "DA2103.spark_result") \
    .option("user", "DA2103") \
    .option("password", "da03") \
    .option("batchsize",10000)\
    .save()


print("time :", time.time() - start)

Py4JJavaError: An error occurred while calling o142.save.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 3 in stage 11.0 failed 1 times, most recent failure: Lost task 3.0 in stage 11.0 (TID 620) (DESKTOP-M2CTA8K executor driver): java.sql.BatchUpdateException: ORA-01653: DA2103.SPARK_RESULT 테이블을 128(으)로 USERS 테이블스페이스에서 확장할 수 없습니다

	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:10032)
	at oracle.jdbc.driver.T4CPreparedStatement.executeLargeBatch(T4CPreparedStatement.java:1364)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9839)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:234)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:687)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:856)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:854)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2236)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
	Suppressed: java.sql.SQLException: ORA-01653: DA2103.SPARK_RESULT 테이블을 128(으)로 USERS 테이블스페이스에서 확장할 수 없습니다

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:494)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:446)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1054)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:623)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:252)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:612)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:226)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:59)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:910)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9804)
		at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9904)
		... 17 more
	Caused by: Error : 1653, Position : 0, Sql = INSERT INTO DA2103.spark_result ("ID","NAME","ZIPCODE","ADDRESS1","ADDRESS2") VALUES (:1 ,:2 ,:3 ,:4 ,:5 ), OriginalSql = INSERT INTO DA2103.spark_result ("ID","NAME","ZIPCODE","ADDRESS1","ADDRESS2") VALUES (?,?,?,?,?), Error Msg = ORA-01653: DA2103.SPARK_RESULT 테이블을 128(으)로 USERS 테이블스페이스에서 확장할 수 없습니다

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:498)
		... 27 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2258)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2207)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2206)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1079)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2445)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2387)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2376)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2196)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2217)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2236)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2261)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1020)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:854)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:82)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:46)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:70)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:68)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.doExecute(commands.scala:90)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:180)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:218)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:215)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:176)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:132)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:131)
	at org.apache.spark.sql.DataFrameWriter.$anonfun$runCommand$1(DataFrameWriter.scala:989)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:989)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:438)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:415)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:301)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.sql.BatchUpdateException: ORA-01653: DA2103.SPARK_RESULT 테이블을 128(으)로 USERS 테이블스페이스에서 확장할 수 없습니다

	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:10032)
	at oracle.jdbc.driver.T4CPreparedStatement.executeLargeBatch(T4CPreparedStatement.java:1364)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9839)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:234)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:687)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:856)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:854)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2236)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
	Suppressed: java.sql.SQLException: ORA-01653: DA2103.SPARK_RESULT 테이블을 128(으)로 USERS 테이블스페이스에서 확장할 수 없습니다

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:494)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:446)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1054)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:623)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:252)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:612)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:226)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:59)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:910)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9804)
		at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9904)
		... 17 more
	Caused by: Error : 1653, Position : 0, Sql = INSERT INTO DA2103.spark_result ("ID","NAME","ZIPCODE","ADDRESS1","ADDRESS2") VALUES (:1 ,:2 ,:3 ,:4 ,:5 ), OriginalSql = INSERT INTO DA2103.spark_result ("ID","NAME","ZIPCODE","ADDRESS1","ADDRESS2") VALUES (?,?,?,?,?), Error Msg = ORA-01653: DA2103.SPARK_RESULT 테이블을 128(으)로 USERS 테이블스페이스에서 확장할 수 없습니다

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:498)
		... 27 more